<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Aeropuerto.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/aeropuertos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Aeropuertos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/aerolineas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Aerolineas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/aviones">
                <span class="bi bi-airplane" aria-hidden="true"></span> Aviones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/boletos">
                <span class="bi bi-ticket-perforated" aria-hidden="true"></span> Boletos
            </NavLink>
            <NavLink class="nav-link" href="/empleados">
                <span class="bi bi-person-badge" aria-hidden="true"></span> Empleados
            </NavLink>
            <NavLink class="nav-link" href="/equipajes">
                <span class="bi bi-suitcase" aria-hidden="true"></span> Equipajes
            </NavLink>
            <NavLink class="nav-link" href="/mantenimientos">
                <span class="bi bi-tools" aria-hidden="true"></span> Mantenimientos
            </NavLink>
            <NavLink class="nav-link" href="/pasajeros">
                <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Pasajeros
            </NavLink>
            <NavLink class="nav-link" href="/puertas-embarque">
                <span class="bi bi-door-open" aria-hidden="true"></span> Puertas de Embarque
            </NavLink>
        </div>
    </nav>
</div>
